@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*{
    
    font-family: outfit;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
  
   
}
.main-content{
    border-radius: 30px;
    box-shadow: 1px 2px  20px -11px hsl(220, 15%, 55%);
    width:20rem;
    height: auto;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 9rem;
    margin-bottom: 9rem;
    background-color: white;


}

.main-content img{
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
h1{
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
    margin: 10px;
}
p{
    color: hsl(219, 49%, 34%);
    font-size: 1rem;
    margin: 5px;
}
.content{
    padding: 20px;
}
.attribution a{
    color:rgb(11, 3, 83)
}



